/* General CSS */
body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
ul {
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

.body-custom {
  overflow: hidden;
}

.hidden-txt {
  position: absolute;

  width: 0;

  height: 0;

  overflow: hidden;

  font-size: 0;

  line-height: 0;

  color: rgba(0, 0, 0, 0);
}

.container {
  background-color: #282828;
}

select option {
  background: black;
  color: white;
}

.common-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* texts for each category */
.title-area {
  text-align: center;
  color: white;
  text-align: center;
  color: white;
  padding: 40px;
}

.title-padding {
  padding: 10px;
}

/* Banner css */
.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/banner.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
}

.search {
  width: 80%;
  max-width: 504px;
  height: 40px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 30px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#product-list {
  width: 75px;
  background-color: transparent;
  color: white;
  border-color: transparent;
  margin-left: 14px;
}
.search-vertical {
  width: 1px;
  height: 18px;
  display: inline-block;
}

.icon-search {
  color: white;
}

.search-button {
  background-color: transparent;
  border: none;
  float: right;
  width: 38px;
  display: flex;
  height: 38px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

/* Product Category Css */

.product-area {
  width: calc(50% - 1px);
  height: 180px;
  text-align: center;
  border-style: solid;
  display: flex;
  border-width: 1px 0 0 0;
  border-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-area:nth-child(odd) {
  border-right-width: 1px;
}

.product-area:nth-last-child(-n + 2) {
  border-bottom-width: 1px;
}

.product-img {
  max-width: 86px;
  max-height: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

/* texts for each category */

.product-text {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.product-strong {
  position: absolute;
  transform: translate(-50%, 127px);
  white-space: nowrap;
}

/* Topics Category */

.topic-img {
  max-width: 51px;
  max-height: 51px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}
.topic-text {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.topic-strong {
  position: absolute;
  transform: translate(-50%, 127px);
}

.topic-area:nth-child(odd) {
  border-right-width: 1px;
}
.topic-area:nth-last-child(-n + 2) {
  border-bottom-width: 1px;
}

.topic-area {
  width: calc(50% - 1px);
  height: 180px;
  text-align: center;
  border-style: solid;
  display: flex;
  border-width: 1px 0 0 0;
  border-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  position: relative;
}

.topic-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Recent Search category */

/* image slider css */
.recent-container {
  max-width: 1440px;
  position: relative;
  margin: auto;
}

.recent-area {
  display: flex;
  background: #4b4a4a;
  color: white;
  padding: 18px;
  width: calc(80% - 60px);
  height: 32vw;
  text-align: center;
  align-items: center;
}

.recent-hide {
  display: none;
  background: #4b4a4a;
  color: white;
  padding: 18px;
  width: calc(80% - 60px);
  height: 32vw;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.recent-area-container {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: transparent;
  border-style: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* recent button */
.recent-button {
  border: 2px solid white;
  border-radius: 11px;
  border-width: 1px;
  padding: 4px 10px 4px 10px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.recent-img {
  width: 15vw;
}

.recent-text-img {
  margin: 10px;
  border: 1px;
  width: 100%;
}

.recent-desc {
  margin: 17px;
  font-size: 12px;
}

/* Customer Css */
/* customer css */
.customer-care {
  padding-top: 45px;
  padding-bottom: 45px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.customer-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/customer_care.jpg);
  width: 62vw;
  background-size: cover;
  height: 30vw;
  display: inline-block;
}

.customer-title {
  margin: 14px 0 14px 0;
}

.customer-button {
  border: solid;
  color: white;
  padding: 10px;
  border-width: thin;
}

/* Login Css */

/* login css */

.login-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  overflow: auto;
  display: none;
}

.overlay-custom {
  display: flex;
}

.login-popup {
  width: 290px;
  height: 543px;
  border: solid;
  border-color: white;
  margin: 80px 30px 80px 30px;
  background-color: #282828;
}

.login-nopopup {
  display: none;
}

.login-header {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.login-header {
  color: white;
}

.login-close {
  background-color: transparent;
  color: white;
  border-style: none;
  padding: 10px;
  font-size: 21px;
}

.login-banner {
  color: white;
  font-size: 11px;
  text-align: center;
  padding: 60px 0 60px 0;
}

.login-input {
  background-color: transparent;
  border-style: none;
  width: calc(100% - 36px);
  padding: 8px;
  color: white;
}

.login-form {
  padding: 17px;
}

.login-input-container {
  color: white;
  border-style: none none solid none;
  border-width: 1px;
  margin-bottom: 20px;
}

.login-remember-container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.login-remember-text {
  font-size: 12px;
}

.login-forgot {
  background-color: transparent;
  color: white;
  border-style: none;
  font-size: 12px;
}

.login-button {
  background-color: black;
  border-style: none;
  color: white;
  width: 100%;
  height: 50px;
}

.login-option {
  width: 310px;
  height: 396px;
  border: solid;
  border-color: white;
  margin: 110px 20px 0 20px;
  background-color: #282828;
  position: absolute;
  display: none;
}

.login-option-custom {
  display: flex;
  flex-direction: column;
}

.login-option-right {
  justify-content: flex-end;
}

.login-option-unable {
  color: white;
  display: none;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.login-unable-custom {
  display: flex;
}

.login-option-icon {
  font-size: 37px;
  margin: 20px;
}

.login-option-strong {
  margin: 20px;
  font-size: 22px;
}

.login-option-text {
  margin: 20px;
  text-align: center;
}

.login-option-button-yes {
  padding: 11px 31px;
}

.login-option-button-no {
  padding: 11px 31px;
  background-color: transparent;
  color: white;
  border-style: solid;
}

.login-option-reset-question {
  color: white;
  display: none;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.login-reset-custom {
  display: flex;
}

.login-option-reset {
  color: white;
  display: none;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.login-reset-custom2 {
  display: flex;
}

.login-option-logout {
  color: white;
  display: none;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.logout-show {
  display: flex;
}
.logout-option-strong {
  margin-bottom: 20px;
  font-size: 22px;
}
.closeButton-remove {
  display: none;
}

@media (min-width: 813px) {
  /* CSS */
  h1 {
    margin: 0;
  }

  /* Header */

  .common-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #383838;
    margin: 35px;
  }

  .topic-list {
    margin: 35px;
    display: flex;
  }

  .topic-area {
    width: 16%;
    height: 180px;
    text-align: center;
    position: relative;
    border: 0;
  }

  .product-area {
    width: calc(25% - 2px);
    border-width: 1px 1px 0 0;
  }
  .product-area:nth-child(4n + 1) {
    border-left-width: 1px;
  }

  .product-area:nth-last-child(-n + 4) {
    border-bottom-width: 1px;
  }

  .product-area:nth-child(4n) {
    width: calc(25% + 1px);
  }

  .recent-area-container {
    display: flex;
    margin-bottom: 45px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .recent-area {
    display: flex;
    background: #4b4a4a;
    color: white;
    padding: 18px;
    width: calc(28% - 60px);
    height: 300px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px;
  }

  .recent-img {
    max-width: 120px;
    max-height: 117px;
    position: absolute;
    transform: translate(0, -71px);
    white-space: nowrap;
  }

  .recent-text-img {
    transform: translate(0%, 87px);
    border-top: 1px;
    border-top-style: groove;
  }

  .recent-desc {
    margin: 25px;
    font-size: 12px;
  }
  .next,
  .prev {
    display: none;
  }

  .banner-text {
    font-size: 32px;
  }

  .title-padding {
    padding: 20px;
    font-size: 30px;
  }

  .product-category {
    padding-bottom: 25px;
    border-bottom-style: groove;
    border-width: 1px;
    color: white;
  }
  .topics {
    padding-bottom: 25px;
    border-bottom-style: groove;
    border-width: 1px;
    color: white;
  }

  .recent-searched {
    padding-bottom: 25px;
    border-bottom-style: groove;
    border-width: 1px;
    color: white;
  }
}
